/*
 * GitPitch Slideshow Custom CSS Styling
 *
 * For details, visit Wiki:
 * https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS
 */

.reveal pre {
  width: 100%;
}

.reveal h1 {
  font-size: 2.77em;
}
.reveal pre code {
  font-size: 1em;
  line-height: 1.2;
  max-height: 50vh !important;
  opacity: 0.95;
  border-radius: 10px;
}

.reveal .slides section .code-presenting-annotation {
  color: white;
  background: black;
  padding: 1px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 50% !important;
}

.reveal p span.slide-title {
  color: white;
  background: #132029;
  padding: 4px 15px;
  opacity: 0.75 !important;
  border-radius: 15px;
}
.reveal div.left {
    float: left;
    z-index: -10;
    width: 45%;
}

.reveal div.right {
    float: right;
    z-index: -10;
    width: 55%;
}

.reveal a.pro-link {
    font-size: 0.5em;
}

#title-footer {
  color: white;
  background: black;
  opacity: 0.65 !important;
}

#title-footer p.footer-hard {
    color: #b6b6b6;
}

#title-footer p.footer-fade {
  color: #b6b6b6;
}

span.black {
  color: black;
}

#gp-logo img {
  max-height: 2em;
  max-width: none;
}

.gp-tip { font-size : 1.5em; }

.gp-contact { font-size : 1.4em; }

.gp-download { margin-left: 10px; }
